h4{
	text-align: center;
    font-size: 30px;
    padding: 0 0 50px 0;
}
.content {
    padding: 60px 0 0 0;
    background-color: #FBF9F3;
    flex: 1;
    position: relative;
    display: flex;
    vertical-align: top;
    overflow-y: unset;    
}
.Left_menu ul {padding: 0px 30px;}
.contents{flex:1; max-width: 1300px; margin:0 auto;}
#myContent{width:100%;}
.memberInfo{margin:0 auto; width:700px; }
.menu_wrap{margin-top: 0px;}
.Left_menu{width: 186px;}
